.reducer__header--3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
  text-align: center;
  @media only screen and(max-width: 800px) {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
}

.reducer__paragraph {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.2rem;
  color: white;
  @media only screen and(max-width: 800px) {
    font-size: 1.2rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }
}

.reducer__image {
  height: 25rem;
  @media only screen and(max-width: 800px) {
    margin-top: 5rem;
    height: 15rem;
  }
}

.reducer__flex {
  display: flex;
}
.reducer__img--1 {
  margin-top: 2rem;

  margin-left: 2rem;
  height: 10rem;
  @media only screen and(max-width: 800px) {
    height: 8rem;
  }
}
.reducer__img--2 {
  margin-top: 3.5rem;
  margin-right: 2rem;
  height: 8rem;
  @media only screen and(max-width: 800px) {
    height: 5rem;
  }
}

.reducer__hr {
  border: 1px solid #34495e;
}

.reducer__link {
  display: block;
  font-size: 2rem;
  color: white;
  @media only screen and(max-width: 800px) {
    font-size: 1.5rem;
  }
}

.reducer__contact {
  margin-top: 3rem;
}
.reducer__skills {
  margin-top: 0;
}
.reducer__other {
  margin-top: 3rem;
}
.reducer__education {
  margin-top: -4rem;

  @media only screen and(max-width: 800px) {
    margin-top: 0;
  }
}
.reducer__portfolio {
  margin-top: 2rem;
}

.reducer__about {
  margin-top: 2rem;
  @media only screen and(max-width: 800px) {
    margin-top: 4rem;
  }
}

.reducer__whats {
  margin-top: -2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.reducer__center {
  width: 60%;
}
