.avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  z-index: 1;
}

.avatar__image {
  border-radius: 50%;
  height: 300px;
  width: auto;
  transition: all 0.5s;
  @media only screen and(max-width: 800px) {
    height: 200px;
    width: 200px;
  }
  @media only screen and(max-width: 500px) {
    height: 180px;
    width: 180px;
  }
}
.avatar:hover {
  transform: translate(-50%, -50%) scale(1.05);
}
.avatar__cover {
  background-color: rgba(44, 62, 80, 0.6);
  position: absolute;
  top: 49.3%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 300px;
  width: 300px;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s;
  @media only screen and(max-width: 800px) {
    height: 200px;
    width: 200px;
    top: 49%;
  }
  @media only screen and(max-width: 500px) {
    height: 180px;
    width: 180px;
    top: 48.5%;
  }
}
.avatar__cover h3 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #eee;
  @media only screen and(max-width: 800px) {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
}
.avatar__cover h4 {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: #eee;
  @media only screen and(max-width: 800px) {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
.hidden {
  visibility: hidden;
  opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1;
}
