.modal__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 50rem;
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  @media only screen and(max-width: 800px) {
    height: 50rem;
    width: 30rem;
  }
}
.modal__close {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  @media only screen and(max-width: 800px) {
    font-size: 2rem;
  }
}

.modal__header {
  font-size: 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  @media only screen and(max-width: 800px) {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.modal.modal--contact {
  background-color: #388e3c;
}
.modal.modal--skills {
  background-color: #0abde3;
}
.modal.modal--other {
  background-color: #f368e0;
}
.modal.modal--education {
  background-color: #ffa000;
}
.modal.modal--portfolio {
  background-color: #8e44ad;
}
.modal.modal--about {
  background-color: #d32f2f;
}
.modal.modal--languages {
  background-color: #0288d1;
}
.modal.modal--whats {
  background-color: #f1c40f;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}
